{% extends 'base.html' %}
{% block content %}
	<!-- about us section -->
	<div class="container-fluid about_us">
		<div class="row py-5">
			<div class="col-md-6 ps-5">
				<img src="/static/img/about-us.jpeg" class="about_us_img" style="height: 400px; width: 500px;">
			</div>
			<div class="col-md-6" style="padding-top: 80px;">
				<small>About Us</small>
				<h3 class="pb-3">Cooking Since 2000</h3>
				<p>Monterey Pizza & Asian Zap serves the pondicherry area with delicious pizza cuisine. Our specialty dishes have been well-crafted to create a delightful culinary experience. Enjoy the convenience of pickup or delivery when ordering through Beyond Menu.</p>

			</div>
		</div>
	</div>

{% endblock %}